.c-aboutme {
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 3rem;

    


    @include break (tablet-large){
        flex-basis: 40%;
        margin-top: 0;
        padding-top: 0;
    }

    &__first {
        position: relative;

        padding-left: 1.2rem;

        font-family: $semibold-font-family;
        font-size: 1.4rem;

        cursor: default;

        color: $secondary-text-color;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__first:before {
        position: absolute;
        top: 34%;
        left: 0;

        width: .9rem;
        height: .25rem;

        content: '';

        background: $red-color;
    }

    &__header {
        font-family: $bold-font-family;
        font-size: 3.6rem;

        color: $primary-text-color;
        margin-bottom: 3rem;
    }

    &__desc {
        font-family: $light-font-family;
        font-size: 1.6rem;

        color: $secondary-text-color;

        margin-bottom: 3rem;
    }

    &__link {
        padding-bottom: .3rem;

        font-family: $regular-font-family;
        font-size: 1.6rem;

        transition: all .3s;
        text-decoration: none;

        color: $red-color;
        border-bottom: solid .1rem #cb4335;
        background-image: linear-gradient(to top, #cb4335 50%, #cb443500 50%);
        background-size: 100% 200%;

        position: absolute;
        bottom: 0%;

        @include break (tablet-large) {
            bottom: 30%;
        }

        & > i {
            margin-left: .7rem;

            font-size: 1.2rem;

            transition: all .3s;
        }
    }

    &__link:hover {
        padding: .3rem;

        color: $white-color;
        background-position: 0 100%;

        & > i {
            margin-left: .3rem;
        }
    }
}
