
.c-about-me {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 3rem;

    @include media (tablet-large) {
        margin-top: 0;
        padding-top: 0;

        flex-basis: 40%;
    }

    flex-basis: 100%;
}

.c-about-me__title {
    position: relative;

    margin-bottom: 3rem;
    padding-left: 1.2rem;

    font-family: $font-family-semibold;
    font-size: 1.4rem;

    cursor: default;
    text-transform: uppercase;

    color: $color-gray;

    &::before {
        position: absolute;
        top: 34%;
        left: 0;

        width: .9rem;
        height: .25rem;

        content: '';

        background: $color-red;
    }
}

.c-about-me__subtitle {
    margin-bottom: 3rem;

    font-family: $font-family-bold;
    font-size: 3.6rem;

    color: $color-gray-lighter;
}

.c-about-me__description {
    margin-bottom: 3rem;

    font-family: $font-family-light;
    font-size: 1.6rem;

    color: $color-gray;
}
.c-about-me__link {
    @include transition(padding color background-position, .3s, ease-in, 0s);

    position: absolute;
    bottom: 0;

    padding-bottom: .3rem;

    font-family: $font-family-regular;
    font-size: 1.6rem;

    text-decoration: none;

    color: $color-red;
    border-bottom: solid .1rem $color-red;
    background-image: linear-gradient(to top, $color-red 50%, $color-blue-dark 50%);
    background-size: 100% 200%;

    @include media (tablet-large) {
        bottom: 30%;
    }
}
.c-about-me-link__icon {
    @include transition(margin-left, .3s, ease-in, 0s);

    margin-left: .7rem;

    font-size: 1.2rem;
}
.c-about-me__link:hover {
    padding: .3rem;

    color: $color-white;
    background-position: 0 100%;
}

.c-about-me__link:hover .c-about-me-link__icon {
    margin-left: .3rem;
}
