.c-box-skill {
    border-bottom: solid 1px $color-gray;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.c-box-skill__text {
    color: $color-gray;
    font-size: 2.6rem;
    font-family: $font-family-regular;
}

.c-box-skill__text > span {
    color: $color-gray-lighter;
    font-size: 3.6rem;
    font-family: $font-family-bold;
    padding-left: 1rem;
}

.c-box__skill-description {
    color: $color-gray;
    font-size: 1.6rem;
    font-family: $font-family-light;
    transition: all .5s ease-in;
    display: none;
    padding-right: .5rem;
}

.c-box__skill-description.is-open {
    display: block;
}