.c-contact-informations {
    min-height: 45rem;
    padding-right: 5rem;

    background: url('/assets/img/contact-bg.jpg') no-repeat 67% 80%/50%;
    @include media (tablet) {
        flex-basis: 47%;
    }

    flex-basis: 100%;
}

.c-contact-informations__subtitle {
    position: relative;

    margin-top: 5rem;
    padding-left: 2rem;

    font-family: $font-family-semibold;
    font-size: 1.4rem;

    cursor: default;
    text-transform: uppercase;

    color: $color-gray;

    &::before {
        position: absolute;
        top: .7rem;
        left: 0;

        width: 1.5rem;
        height: .4rem;

        content: '';

        background: $color-red;
    }
}

.c-contact-informations__title {
    padding: 3rem 0rem;

    font-family: $font-family-bold;
    font-size: 7.2rem;

    color: $color-gray-lighter;
}

.c-contact-information__text {
    position: relative;

    padding-left: 7rem;

    font-family: $font-family-light;
    font-size: 1.6rem;

    cursor: default;

    color: $color-gray;

    &::before {
        position: absolute;
        top: .7rem;
        left: 0;

        width: 5.5rem;
        height: .5rem;

        content: '';

        background: $color-red;
    }
}
