.c-experience-item {
    flex-basis: 47%;
    list-style-type: none;
    position: relative;
}

.c-experience-item:first-child::after {
    position: absolute;
    right: -1.9rem;
    top: 0;
    content: " ";
    border: .6rem solid $color-blue;
    border-radius: 500%;
    background: $color-white;
    height: 25px;
    width: 25px;
    transition: all .5s ease-in-out;
}

.c-experience-item__title {
    color: $color-gray-lighter;
    font-size: 3.2rem;
    font-family: $font-family-bold;
    padding-bottom: 1rem;
}

.c-experience-item__company-name {
    color: $color-red;
    font-size: 2.2rem;
    font-family: $font-family-bold;
    padding-bottom: 1rem;
}

.c-experience-item__date {
    color: $color-gray;
    font-size: 1.6rem;
    font-family: $font-family-light;
    padding-bottom: 2rem;
}

.c-experience-item__study-field {
    color: $color-red;
    font-size: 2.2rem;
    font-family: $font-family-bold;
    padding-bottom: 1rem;
}

.c-experience-item__education-level {
    color: $color-gray;
    font-size: 1.6rem;
    font-family: $font-family-light;
}

.c-experience-item--left {
    text-align: right;
    border-right: dashed .1rem $color-blue;
    padding-right: calc(50% - 47%);

    &::after {
        position: absolute;
        right: -1.8rem;
        top: .5rem;
        content: " ";
        border: .6rem solid $color-blue;
        border-radius: 500%;
        background: $color-white;
        height: 20px;
        width: 20px;
        transition: all .5s ease-in-out;
    }

    &:hover::after {
        border-color: #171F2B;
        transition: all .5s ease-in-out;
    }
}
