.c-footer-go-to-up {
    @include transition(color background-position, .3s .3s, ease-in, 0s);

    padding: .5rem;

    cursor: pointer;

    border: none;
    border-bottom: solid .1rem $color-red;
    background: transparent;
    background-image: linear-gradient(to top, $color-red 50%, $color-blue-dark 50%);
    background-size: 100% 200%;
}
.c-footer-go-to-up__text {
    font-family: $font-family-regular;
    font-size: 1.4rem;

    color: $color-red;
}

.c-footer-go-to-up-text__icon {
    margin-left: .5rem;

    font-size: 1.3rem;

    color: $color-red;
}


.c-footer-go-to-up:hover .c-footer-go-to-up__text,
.c-footer-go-to-up:hover .c-footer-go-to-up-text__icon {
    color: $color-white;
}

.c-footer-go-to-up:hover {
    background-position: 0 100%;
}
