.c-hamburger {
    background: transparent;
    border: none;
    width: 1.594rem;
    position: relative;
    cursor: pointer;

    &__text{
        color: $menu_color;
        position: absolute;
        top: 130%;
        left: -0.563rem;
        font-family: $semibold_font_family;
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    &__bar1, &__bar3 {
        background: $menu_color;
        transition: all .1s ease-in;
        width: 100%;
        margin-top: 0.375rem;
        height: 0.125rem;
        display: block;
        float: right;
    }

    &__bar2 {
        background: $menu_color;
        transition: all .1s ease-in;
        width: 60%;
        margin-top: 0.375rem;
        height: 0.125rem;
        display: block;
        float: right;
    }

    &__bar3.animate {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        position: absolute;
    }

    &__bar1.animate {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &__bar2.animate {
        background: rgba(255, 255, 255, 0);
    }
}

.c-hamburger:hover .c-hamburger__bar2 {
        width:100%;
}