.c-header {
    display: flex;
    justify-content: space-between;
}

.c-header__logo {
    width: 5rem;
    height: 4rem;

    cursor: pointer;

    background: url('/assets/img/FM-logo.png');

    &::before {
        position: absolute;
        z-index: -1;

        overflow: hidden;

        width: 7.2rem;
        height: 7.1rem;
        margin-top: -1.5rem;
        margin-left: -1.1rem;

        content: '';
        transition: transform .3s ease-in;

        border-radius: 3.5rem;
        border-bottom-left-radius: 0;
        background: $color-blue;
    }
}

.c-header__logo:hover::before {
    transform: rotate(-180deg);
}
