.c-header {
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 5.6rem;
        height: 4.1rem;

        cursor: pointer;

        background: url(/assets/img/FM-logo.png);
    }

    &__logo:before {
        position: absolute;
        z-index: -1;

        overflow: hidden;

        width: 7.9rem;
        height: 7.6rem;
        margin-top: -1.7rem;
        margin-left: -1.4rem;

        content: '';
        transition: transform .3s ease-in;

        border-radius: 3.5rem;
        border-bottom-left-radius: 0;
        background: $blue-color;
    }

    &__logo:hover::before {
        transform: rotate(-180deg);
    }
}
