.c-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;

    @include media (tablet-large) {
        min-height: 88.8vh;

        background: none;

        flex-basis: 60%;
    }

    flex-basis: 100%;
}
.c-info__header {
    position: relative;

    padding-bottom: 1rem;

    font-family: $font-family-bold;
    font-size: 4.5rem;

    color: $color-gray-lighter;

    @include media (smartphone) {
        font-size: 7rem;
    }

    &::after {
        position: absolute;
        bottom: 1%;
        left: 0;

        width: 6.25rem;
        height: .438rem;

        content: '';

        background: $color-red;
    }
}

.c-info__list {
    margin-top: 3.125rem;

    list-style-type: none;
}

.c-info-list__item {
    width: 3.5rem;
    height: 3.5rem;

    font-size: 3.5rem;

    color: $color-white;
    border-radius: 50%;
}
.c-info-list__item:hover {
    background: $color-blue;
}
