.c-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-basis: 60%;

    &__header {
        position: relative;

        padding-bottom: 1rem;

        font-family: $bold-font-family;
        font-size: 7rem;

        color: $primary-text-color;
    }

    &__header::after {
        position: absolute;
        bottom: 1%;
        left: 0;

        width: 6.25rem;
        height: .438rem;

        content: '';

        background: $red-color;
    }

    &__list {
        margin-top: 3.125rem;

        list-style-type: none;

        & li {
            width: 3.5rem;
            height: 3.5rem;

            font-size: 3.5rem;

            color: $white-color;
            border-radius: 50%;
        }

        & li:hover {
            background: $blue-color;
        }
    }
}
