.c-links {
    position: absolute;
    z-index: 1;
    top: 0;

    height: 100vh;

    transition: all .2s ease-in;

    background: $blue-color;

    &__hide {
        left: 100%;
    }
}

.c-links.show {
@include break (smartphone-large) {
        left: calc(100% - 40rem);
    }

    left: 0;
}

