.c-menu-links {
    position: absolute;
    z-index: 1;
    top: 0;

    height: 100vh;

    transition: all .2s ease-in;

    background: $color-blue;
}

.c-menu-links__invisible {
    left: 100%;
}

.c-menu-links.is-visible {
@include media (smartphone-large) {
        left: calc(100% - 40rem);
    }

    left: 0;
}

