.c-menu-links {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;

    height: 100vh;

    transition: all .2s ease-in;

    background: $color-blue;
}

.c-menu-links.is-visible {
left: 0;

    @include media (smartphone-large) {
        left: calc(100% - 40rem);
    }
}

