.c-navigation-up {
    position: absolute;
    bottom: 2%;
    left: 50%;

    height: 4rem;
    background: none;
    border: none;
    cursor: pointer;
}

.c-navigation-up__link {
    display: flex;
    align-items: center;

    height: 100%;
    padding: .6rem;

    text-decoration: none;

    border-radius: 2.5rem;
    background-color: $color-blue;
}

.c-navigation-up-link__icon {
    animation: bounce 2s infinite;

    color: $color-white;

    margin-left: 0.1rem;
}
