.c-navigation-up {
    position: absolute;
    bottom: 7%;
    left: 48%;

    height: 4rem;

    cursor: pointer;

    border: none;
    background: none;
    display: none;
@include media (tablet-large) {
        left: 49%;
        display: block
    }
}

.c-navigation-up__link {
    display: flex;
    align-items: center;

    height: 100%;
    padding: .6rem;

    text-decoration: none;

    border-radius: 2.5rem;
    background-color: $color-blue;
}

.c-navigation-up-link__icon {
    margin-left: .1rem;

    animation: bounce 2s infinite;

    color: $color-white;
}
