.c-navigation {
    position: absolute;
    top: 90%;
    left: 50%;

    height: 4rem;
    &__link {
        display: flex;
        align-items: center;

        height: 100%;
        padding: .5rem;

        text-decoration: none;

        border-radius: 2.5rem;
        background-color: $color-blue;

        & > i {
            animation: bounce 2s infinite;

            color: $color-white;
        }

        @keyframes bounce {
            0% {
                transform: translateY(0);
            }

            15% {
                transform: translateY(-.8rem);
            }
        }
    }
}
