.c-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 7rem;
}

.c-projects-item.is-deactive {
    display: none;
}

.c-projects-col {
    @include media (tablet) {
        flex-basis: 24%;
    }

    @include media (desktop-small) {
        flex-basis: 28%;
    }

    flex-basis: 100%;
}

.c-projects-col:nth-child(2) {
    margin-top: 0rem;

    @include media (desktop-small) {
        margin-top: 8rem;
    }

    @include media (tablet) {
        margin-top: 8rem;
    }
}

.c-projects-item__title {
    padding-top: 4rem;

    font-family: $font-family-bold;
    font-size: 3.2rem;

    color: $color-gray-lighter;
    border-top: solid .1rem $color-gray;
}

.c-projects-item__description {
    padding: 2rem 0rem;

    font-family: $font-family-light;
    font-size: 1.6rem;

    color: $color-gray;
}

.c-projects-item__image {
    width: 100%;
    height: auto;
}

.c-projects-item-links {
    margin-top: 4rem;
    margin-bottom: 8rem;

    cursor: default;
}

.c-projects-item-links__link {
    @include transition(background, .2s, ease-in, 0s);

    margin-right: .5rem;
    padding: .9rem;

    font-family: $font-family-semibold;
    font-size: 1.4rem;

    text-decoration: none;

    color: $color-gray-lighter;
    border-radius: 2rem;
    background: $color-blue;
}

.c-projects-item-links-link__icon {
    margin-left: .7rem;

    font-size: 1.5rem;
}

.c-projects-item-links__link:hover {
    background: $color-red;
}

