.c-skill {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    height: 38rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.c-skill::-webkit-scrollbar {
    display: none;
}
