.c-skill-btns {
    display: flex;
    justify-content: space-between;
}

.c-box-skill-btns__btn {
    cursor: pointer;
    text-transform: uppercase;

    color: $color-red;
    border: none;
    background: transparent;
}

.c-box-skill-btns__arrow-button {
    @include transition(transform, .5s, ease-in, 0s);

    width: 3.2rem;
    height: 3.2rem;
    margin-top: 1rem;
    margin-right: .5rem;

    cursor: pointer;

    border: none;
    background: url('/assets/img/oblique-arrow.png');
}

.c-box-skill-btns__arrow-button.is-open {
    transform: rotate(180deg);
}
