.c-skill-nav {


    

    display: none;

    @include media (tablet-large) {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
    }
}

.c-skill-nav__up {
    margin-right: 1.5rem;
}

.c-skill-nav__up,
.c-skill-nav__down {
    padding: 1rem;

    font-size: 1.9rem;

    cursor: pointer;

    border: solid .1rem $color-gray;
    border-radius: 3rem;
    background: transparent;
}

.c-skill-nav__up i,
.c-skill-nav__down i {
    color: $color-red;
}
