.c-tab {
    text-align: center;
    margin-top: 4rem;
}

.c-tab__button {
    font-size: 1.4rem;
    background: none;
    border: none;
    font-family: $font-family-regular;
    color: $color-red;
    padding: 0rem .5rem;

    @include transition(color, .2s, ease-in, 0s);
    @include media (smartphone) {
        font-size: 2rem;
        padding: 0rem 2rem;
    }
}

.c-tab__button:hover {
    color: $color-white;
}

.c-tab__button.is-active {
    color: $color-white;
}

.c-tab__button.is-active:hover {
    color: $color-red;
}