.c-title {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 2rem;

    text-align: center;


    &::after {
        position: absolute;
        bottom: 0;

        width: 5rem;
        height: .5rem;

        content: '';

        background: $color-red;
    }
}

.c-title__subtitle {
    position: relative;

    padding-left: 1.5rem;

    font-family: $font-family-semibold;
    font-size: 1.4rem;

    text-transform: uppercase;

    color: $color-gray;

    &::before {
        position: absolute;
        top: .75rem;
        left: 0;

        width: 1rem;
        height: .3rem;

        content: '';

        background: $color-red;
    }
}

.c-title__title {
    margin-top: 3rem;

    font-family: $font-family-bold;
    font-size: 3rem;

    color: $color-gray-lighter;
    @include media (desktop-small) {
        font-size: 7.2rem;
    }

    @include media (smartphone-large) {
        font-size: 4.5rem;
    }
}
