@font-face {
    font-family: 'oliviar-regular';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/oliviar-sans-regular.otf');
}

@font-face {
    font-family: 'oliviar-bold';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/oliviar-sans-bold.otf');
}

@font-face {
    font-family: 'oliviar-light';
    font-weight: 300;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/oliviar-sans-light.otf');
}

@font-face {
    font-family: 'oliviar-semi-bold';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/oliviar-sans-semibold.otf');
}

@font-face {
    font-family: 'fm-icon';
    font-weight: normal;
    font-style: normal;

    font-display: block;
    src: url('/assets/fonts/fm-icon.woff?d1rojn') format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'fm-icon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu-3-line::before {
    content: '\e900';
}

.icon-arrow-left::before {
    content: '\e901';
}

.icon-arrow-right::before {
    content: '\e902';
}

.icon-arrow-top::before {
    content: '\e903';
}

.icon-arrow-down-skill::before {
    content: '\e904';
}

.icon-arrow-top-skill::before {
    content: '\e905';
}

.icon-zoom-in::before {
    content: '\e906';
}

.icon-code::before {
    content: '\e907';
}

.icon-facebook-circular::before {
    content: '\e908';
}

.icon-github-circular::before {
    content: '\e909';
}

.icon-linkedin-circular::before {
    content: '\e90a';
}

.icon-twitter-circular::before {
    content: '\e90b';
}
