html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $color-blue-lighter;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-blue;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


