//breakpoints
$breakpoints: (smartphone-small: (min-width: 320px),
    smartphone-medium: (min-width: 425px),
    smartphone: (min-width: 460px),
    smartphone-large: (min-width: 640px),
    tablet: (min-width: 800px),
    tablet-large: (min-width: 1024px),
    desktop-small: (min-width: 1280px),
    desktop-medium: (min-width: 1600px),
    desktop-large: (min-width: 1900px),
);

//fonts
$font-family-regular: 'oliviar-regular';
$font-family-bold: 'oliviar-bold';
$font-family-light: 'oliviar-light';
$font-family-semibold: 'oliviar-semi-bold';
$font-family-black: 'oliviar-black';
$font-family-light: 'oliviar-light';

//colors
$color-red: #cb4335;
$color-blue: #2c55c8;
$color-gray-lighter: #e6e5df;
$color-gray: #b4b3b1;
$color-white: #fff;
$color-blue-lighter: #546bab;
