//breakpoints
$breakpoints: (smartphone-small: (min-width: 320px),
    smartphone-medium: (min-width: 425px),
    smartphone: (min-width: 460px),
    smartphone-large: (min-width: 640px),
    tablet: (min-width: 800px),
    tablet-large: (min-width: 1024px),
    desktop-small: (min-width: 1280px),
    desktop-medium: (min-width: 1600px),
    desktop-large: (min-width: 1900px),
);

//fonts
$regular-font-family: "oliviar-regular";
$bold-font-family: "oliviar-bold";
$light-font-family: "oliviar-light";
$semibold-font-family: "oliviar-semi-bold";
$black-font-family: "oliviar-black";
$light-font-family: "oliviar-light";

//colors
$red-color: #CB4335;
$blue-color: #2C55C8;
$primary-text-color: #E6E5DF;
$secondary-text-color: #B4B3B1;
$menu-color: #E6E5DF;
$white-color: #ffffff;
$link-hover-color: #546BAB;