html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/img/bg-page-desktop.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'Dejavu Sans', bold;
}

@font-face {
  font-family: "Oliviar Sans";
  src: url("/assets/font/OliviarSans Regular.otf");
}

@font-face {
  font-family: "Oliviar Sans";
  src: url("/assets/font/OliviarSans Black.otf");
}

@font-face {
  font-family: "Oliviar Sans";
  src: url("/assets/font/OliviarSans Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Oliviar Sans";
  src: url("/assets/font/OliviarSans SemiBold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Oliviar Sans";
  src: url("/assets/font/OliviarSans Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'fm-icon';
  src: url("/assets/font-icon/fm-icon.eot?d1rojn");
  src: url("/assets/font-icon/fm-icon.eot?d1rojn#iefix") format("embedded-opentype"), url("/assets/font-icon/fm-icon.ttf?d1rojn") format("truetype"), url("/assets/font-icon/fm-icon.woff?d1rojn") format("woff"), url("/assets/font-icon/fm-icon.svg?d1rojn#fm-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fm-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-3-line:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-top:before {
  content: "\e903";
}

.icon-arrow-down-skill:before {
  content: "\e904";
}

.icon-arrow-top-skill:before {
  content: "\e905";
}

.icon-zoom-in:before {
  content: "\e906";
}

.icon-code:before {
  content: "\e907";
}

.icon-social-facebook-circular:before {
  content: "\e908";
}

.icon-social-github-circular:before {
  content: "\e909";
}

.icon-social-linkedin-circular:before {
  content: "\e90a";
}

.icon-social-twitter-circular:before {
  content: "\e90b";
}

.l-container {
  padding: 0;
}

@media (min-width: 800px) {
  .l-container {
    padding-left: 18.125rem;
    padding-right: 18.125rem;
    padding-top: 5rem;
  }
}

.l-bg {
  padding: 0;
  background-image: url("/assets/img/ziomek-compress.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30% 50%;
}

@media (min-width: 800px) {
  .l-bg {
    padding-left: 18.125rem;
    padding-right: 18.125rem;
    padding-top: 5rem;
  }
}

.l-header {
  width: 100%;
}

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-header__logo {
  background: url(/assets/img/FM-logo.png);
  width: 3.438rem;
  height: 2.563rem;
  cursor: pointer;
}

.c-header__logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  overflow: hidden;
  margin-left: -0.875rem;
  margin-top: -1.063rem;
  width: 4.936rem;
  height: 4.75rem;
  background: #2C55C8;
  border-radius: 3.563rem;
  border-bottom-left-radius: 0;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.c-header__logo:hover::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.c-header__hamburgerText {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #fff;
  margin-top: -14px;
  margin-left: 32px;
  text-transform: uppercase;
}

.c-header__hide {
  left: 100%;
}

.c-header__menu.show {
  left: 80%;
}

.c-header__menu {
  background: #24439A;
  position: absolute;
  top: 0;
  height: 100vh;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.c-header__menu ul {
  position: relative;
  top: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none;
  padding: 0px 80px 0px 80px;
}

.c-header__menu a {
  text-align: center;
  font-size: 43px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.c-header__menu a:hover {
  color: #2980b9;
}

.c-header__menu.show a {
  text-align: center;
  font-size: 43px;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */