html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: #546bab;
}

::-webkit-scrollbar-thumb {
  background: #2c55c8;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'oliviar-regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/oliviar-sans-regular.otf");
}

@font-face {
  font-family: 'oliviar-bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/oliviar-sans-bold.otf");
}

@font-face {
  font-family: 'oliviar-light';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/oliviar-sans-light.otf");
}

@font-face {
  font-family: 'oliviar-semi-bold';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/oliviar-sans-semibold.otf");
}

@font-face {
  font-family: 'fm-icon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("/assets/fonts/fm-icon.woff?d1rojn") format("woff");
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'fm-icon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-3-line::before {
  content: '\e900';
}

.icon-arrow-left::before {
  content: '\e901';
}

.icon-arrow-right::before {
  content: '\e902';
}

.icon-arrow-top::before {
  content: '\e903';
}

.icon-arrow-down-skill::before {
  content: '\e904';
}

.icon-arrow-top-skill::before {
  content: '\e905';
}

.icon-zoom-in::before {
  content: '\e906';
}

.icon-code::before {
  content: '\e907';
}

.icon-facebook-circular::before {
  content: '\e908';
}

.icon-github-circular::before {
  content: '\e909';
}

.icon-linkedin-circular::before {
  content: '\e90a';
}

.icon-twitter-circular::before {
  content: '\e90b';
}

.l-page-container {
  padding: 5rem 5rem 0rem 5rem;
  background: none;
}

@media (min-width: 1024px) {
  .l-page-container {
    padding: 5rem 18.125rem 0rem 18.125rem;
    background: none;
  }
}

.l-bg {
  background: url("/assets/img/my-photo.png") no-repeat 37% -30%;
}

@media (min-width: 1024px) {
  .l-bg {
    background: url("/assets/img/my-photo.png") no-repeat 10% 60%/contain;
  }
}

.l-about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-body {
  overflow: hidden;
  overflow-y: scroll;
  font-size: 1.6rem;
  background: url("/assets/img/bg-page-desktop.jpg") center/cover;
}

.l-header {
  margin-top: 2rem;
}

.l-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
}

@media (min-width: 1024px) {
  .l-skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.l-skill {
  margin-top: 5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .l-skill {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-header__logo {
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  background: url("/assets/img/fm-logo.png");
}

.c-header__logo::before {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 7.2rem;
  height: 7.1rem;
  margin-top: -1.5rem;
  margin-left: -1.1rem;
  content: '';
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  border-radius: 3.5rem;
  border-bottom-left-radius: 0;
  background: #2c55c8;
}

.c-header__logo:hover::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.c-hamburger {
  position: relative;
  z-index: 2;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background: transparent;
}

.c-hamburger__text {
  position: absolute;
  top: 3rem;
  left: -.9rem;
  font-family: "oliviar-semi-bold";
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #e6e5df;
}

.c-hamburger__bars {
  position: absolute;
  width: 1.25rem;
  height: .2rem;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  background: #fff;
}

.c-hamburger__bars::after, .c-hamburger__bars::before {
  width: 2rem;
  height: .2rem;
}

.c-hamburger__bars::before {
  position: absolute;
  right: 0;
  bottom: .563rem;
  content: '';
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: white;
}

.c-hamburger__bars::after {
  position: absolute;
  top: .563rem;
  right: 0;
  content: '';
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  background: white;
}

.c-hamburger:hover .c-hamburger__bars {
  width: 2rem;
  margin-left: -.75rem;
}

.c-menu-links {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  height: 100vh;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background: #2c55c8;
}

.c-menu-links.is-visible {
  left: 0;
}

@media (min-width: 640px) {
  .c-menu-links.is-visible {
    left: calc(100% - 40rem);
  }
}

.c-menu-list {
  position: relative;
  top: 50%;
  max-width: 115rem;
  margin: 0 auto;
  padding: 0 3rem 0 3rem;
  list-style: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-menu-list__item {
  display: inline-block;
  min-width: 100%;
  white-space: nowrap;
}

.c-menu-list__link {
  display: block;
  padding: .6rem 3rem .3rem;
  font-family: "oliviar-regular";
  font-size: 3.6rem;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

.c-menu-list__link:hover .c-menu-list__word, .c-menu-list__link:focus .c-menu-list__word {
  -webkit-transform: translate3d(0, -105%, 0);
          transform: translate3d(0, -105%, 0);
}

.c-menu-list__title {
  display: inline-block;
  overflow: hidden;
}

.c-menu-list__word {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  color: #fff;
}

.c-menu-list__word::before {
  position: absolute;
  top: 105%;
  content: attr(data-hover);
  color: #546bab;
}

.c-about-me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .c-about-me {
    margin-top: 0;
    padding-top: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.c-about-me__title {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 1.2rem;
  font-family: "oliviar-semi-bold";
  font-size: 1.4rem;
  cursor: default;
  text-transform: uppercase;
  color: #b4b3b1;
}

.c-about-me__title::before {
  position: absolute;
  top: 34%;
  left: 0;
  width: .9rem;
  height: .25rem;
  content: '';
  background: #cb4335;
}

.c-about-me__subtitle {
  margin-bottom: 3rem;
  font-family: "oliviar-bold";
  font-size: 3.6rem;
  color: #e6e5df;
}

.c-about-me__description {
  margin-bottom: 3rem;
  font-family: "oliviar-light";
  font-size: 1.6rem;
  color: #b4b3b1;
}

.c-about-me__link {
  position: absolute;
  bottom: 0;
  padding-bottom: .3rem;
  font-family: "oliviar-regular";
  font-size: 1.6rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #cb4335;
  border-bottom: solid 0.1rem #cb4335;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #cb4335), color-stop(50%, #cb443500));
  background-image: linear-gradient(to top, #cb4335 50%, #cb443500 50%);
  background-size: 100% 200%;
}

@media (min-width: 1024px) {
  .c-about-me__link {
    bottom: 30%;
  }
}

.c-about-me-link__icon {
  margin-left: .7rem;
  font-size: 1.2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-about-me__link:hover {
  padding: .3rem;
  color: #fff;
  background-position: 0 100%;
}

.c-about-me__link:hover .c-about-me-link__icon {
  margin-left: .3rem;
}

.c-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .c-info {
    min-height: 88.8vh;
    background: none;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.c-info__header {
  position: relative;
  padding-bottom: 1rem;
  font-family: "oliviar-bold";
  font-size: 4.5rem;
  color: #e6e5df;
}

@media (min-width: 460px) {
  .c-info__header {
    font-size: 7rem;
  }
}

.c-info__header::after {
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 6.25rem;
  height: .438rem;
  content: '';
  background: #cb4335;
}

.c-info__list {
  margin-top: 3.125rem;
  list-style-type: none;
}

.c-info-list__item {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 3.5rem;
  color: #fff;
  border-radius: 50%;
}

.c-info-list__item:hover {
  background: #2c55c8;
}

.c-navigation {
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: 4rem;
}

.c-navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: .5rem;
  text-decoration: none;
  border-radius: 2.5rem;
  background-color: #2c55c8;
}

.c-navigation-link__icon {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
  color: #fff;
}

.c-navigation-up {
  position: absolute;
  bottom: 2%;
  left: 50%;
  height: 4rem;
  background: none;
  border: none;
  cursor: pointer;
}

.c-navigation-up__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: .6rem;
  text-decoration: none;
  border-radius: 2.5rem;
  background-color: #2c55c8;
}

.c-navigation-up-link__icon {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
  color: #fff;
  margin-left: 0.1rem;
}

.c-menu {
  width: 100%;
}

.c-offer {
  padding: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1024px) {
  .c-offer {
    padding-right: 15rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.c-offer__subtitle {
  position: relative;
  margin-top: 5rem;
  padding-left: 2rem;
  font-family: "oliviar-semi-bold";
  font-size: 1.4rem;
  cursor: default;
  text-transform: uppercase;
  color: #b4b3b1;
}

@media (min-width: 1024px) {
  .c-offer__subtitle {
    margin-top: 0;
  }
}

.c-offer__subtitle::before {
  position: absolute;
  top: .7rem;
  left: 0;
  width: 1.5rem;
  height: .4rem;
  content: '';
  background: #cb4335;
}

.c-offer__title {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-family: "oliviar-bold";
  font-size: 7.2rem;
  cursor: default;
  color: #e6e5df;
}

.c-offer__description {
  position: relative;
  padding-left: 7rem;
  font-family: "oliviar-light";
  font-size: 1.6rem;
  cursor: default;
  color: #b4b3b1;
}

.c-offer__description::before {
  position: absolute;
  top: .7rem;
  left: 0;
  width: 5.5rem;
  height: .5rem;
  content: '';
  background: #cb4335;
}

.c-box-skill {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 0.1rem #b4b3b1;
}

.c-box-skill__text {
  font-family: "oliviar-regular";
  font-size: 2.6rem;
  color: #b4b3b1;
}

.c-box-skill-text__tag {
  padding-left: 1rem;
  font-family: "oliviar-bold";
  font-size: 3.6rem;
  color: #e6e5df;
}

.c-box-skill__description {
  overflow: hidden;
  max-height: 0;
  padding-right: .5rem;
  font-family: "oliviar-light";
  font-size: 1.6rem;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  color: #b4b3b1;
}

.c-box-skill__description.is-open {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.c-skill-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-box-skill-btns__btn {
  background: transparent;
  border: none;
  color: #cb4335;
  cursor: pointer;
  text-transform: uppercase;
}

.c-box-skill-btns__arrow-button {
  background: url("/assets/img/rozwijak.png");
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin-right: .5rem;
}

.c-box-skill-btns__arrow-button.is-open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-skill-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5rem;
}

.c-skill-nav__up,
.c-skill-nav__down {
  border: solid 0.1rem #b4b3b1;
  border-radius: 3rem;
  font-size: 1.9rem;
  padding: 1rem;
  cursor: pointer;
  margin-right: 1.5rem;
  background: transparent;
}

.c-skill-nav__up i,
.c-skill-nav__down i {
  color: #cb4335;
}

.c-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.c-skill::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
  }
}
/*# sourceMappingURL=main.css.map */