html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/img/bg-page-desktop.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'Dejavu Sans', bold;
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-regular.otf");
  font-family: "OliviarRegular";
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-bold.otf");
  font-family: "oliviar-bold";
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-black.otf");
  font-family: "oliviar-black";
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-light.otf");
  font-family: "oliviar-light";
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-semibold.otf");
  font-family: "oliviar-semi-bold";
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-thin.otf");
  font-family: "oliviar-thin";
}

@font-face {
  src: url("/assets/fonts/oliviar-sans-ultralight.otf");
  font-family: "oliviar-ultra-light";
}

@font-face {
  font-family: 'fm-icon';
  src: url("/assets/font-icon/fm-icon.eot?d1rojn");
  src: url("/assets/font-icon/fm-icon.eot?d1rojn#iefix") format("embedded-opentype"), url("/assets/font-icon/fm-icon.ttf?d1rojn") format("truetype"), url("/assets/font-icon/fm-icon.woff?d1rojn") format("woff"), url("/assets/font-icon/fm-icon.svg?d1rojn#fm-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fm-icon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-3-line::before {
  content: "\e900";
}

.icon-arrow-left::before {
  content: "\e901";
}

.icon-arrow-right::before {
  content: "\e902";
}

.icon-arrow-top::before {
  content: "\e903";
}

.icon-arrow-down-skill::before {
  content: "\e904";
}

.icon-arrow-top-skill::before {
  content: "\e905";
}

.icon-zoom-in::before {
  content: "\e906";
}

.icon-code::before {
  content: "\e907";
}

.icon-social-facebook-circular::before {
  content: "\e908";
}

.icon-social-github-circular::before {
  content: "\e909";
}

.icon-social-linkedin-circular::before {
  content: "\e90a";
}

.icon-social-twitter-circular::before {
  content: "\e90b";
}

.l-container {
  padding: 0;
}

@media (min-width: 800px) {
  .l-container {
    padding-left: 18.125rem;
    padding-right: 18.125rem;
    padding-top: 5rem;
  }
}

.l-bg {
  padding: 50px;
  background-image: url("/assets/img/ziomek-compress.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30% 50%;
}

@media (min-width: 800px) {
  .l-bg {
    padding-left: 18.125rem;
    padding-right: 18.125rem;
    padding-top: 5rem;
  }
}

.l-header {
  width: 100%;
}

.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-header__logo {
  background: url(/assets/img/FM-logo.png);
  width: 3.438rem;
  height: 2.563rem;
  cursor: pointer;
}

.c-header__logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  overflow: hidden;
  margin-left: -0.875rem;
  margin-top: -1.063rem;
  width: 4.936rem;
  height: 4.75rem;
  background: #2C55C8;
  border-radius: 3.563rem;
  border-bottom-left-radius: 0;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.c-header__logo:hover::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.c-hamburger {
  background: transparent;
  border: none;
  width: 25.5px;
  position: relative;
  cursor: pointer;
}

.c-hamburger__text {
  color: #E6E5DF;
  position: absolute;
  top: 130%;
  left: -9px;
  font-family: "oliviar-semi-bold";
  font-size: 14px;
  text-transform: uppercase;
}

.c-hamburger__bar1, .c-hamburger__bar3 {
  background: #E6E5DF;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  width: 100%;
  margin-top: 6px;
  height: 0.125rem;
  display: block;
  float: right;
}

.c-hamburger__bar2 {
  background: #E6E5DF;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  width: 60%;
  margin-top: 6px;
  height: 0.125rem;
  display: block;
  float: right;
}

.c-hamburger__bar3.animate {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
}

.c-hamburger__bar1.animate {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.c-hamburger__bar2.animate {
  background: rgba(255, 255, 255, 0);
}

.c-hamburger:hover .c-hamburger__bar2 {
  width: 100%;
}

.c-links {
  background: #2C55C8;
  position: absolute;
  top: 0;
  height: 100vh;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: -1;
}

.c-links__hide {
  left: 100%;
}

.c-links.show {
  left: calc(100% - 400px);
}

.c-menu {
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none;
  padding: 0px 30px 0px 30px;
}

.c-menu__item {
  display: inline-block;
  white-space: nowrap;
}

.c-menu__link {
  display: block;
  padding: 6px 30px 3px;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  text-decoration: none;
  font-family: "oliviar-regular";
}

.c-menu__link:hover .c-menu__word, .c-menu__link:focus .c-menu__word {
  -webkit-transform: translate3d(0, -105%, 0);
          transform: translate3d(0, -105%, 0);
}

.c-menu__title {
  display: inline-block;
  overflow: hidden;
}

.c-menu__word {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  color: #ffffff;
}

.c-menu__word::before {
  position: absolute;
  content: attr(data-hover);
  top: 105%;
  color: #546BAB;
}
/*# sourceMappingURL=main.css.map */