.l-bg {
@include break (tablet) {
        padding-top: 5rem;
        padding-right: 29.2rem;
        padding-left: 29.2rem;
    }

    padding: 5rem;

    background-image: url('/assets/img/ziomek-compress.png');
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: contain;
}
