.l-bg {
padding: 5rem;

    background: url('/assets/img/my-photo.png') no-repeat 37% 2%;

    @include media (tablet-large) {
        background: url('/assets/img/my-photo.png') no-repeat 30% 50%/contain;
    }
}
