.l-body {
    overflow: hidden;
    overflow-y: scroll;

    font-size: 1.6rem;

    background-image: url('/assets/img/bg-page-desktop.jpg');
    background-position: center;
    background-size: cover;
}