.l-page-container {
    overflow: hidden;

    max-width: 1920px;
    margin: 0 auto;

    background: url('/assets/img/my-photo.png') no-repeat 27% -1%;

    @include media (tablet-large) {
        background: none;
    }
}
